# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
*.egg-info/
.dist/

# IDE / Editor configs
.idea/
.vscode/
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db